<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method="Post">
                {% csrf_token %}
                {{ form.as_p}}
                <!-- <input type="text" id="username" name="username">
                <input type="password" id="password" name="password"> -->
                <button>Login</button>
            </form>
        </div>
    </main>
</body>

</html>
